@mixin w-f{
    width: 100%;
    float: left;
}


@mixin b-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}

//global
$bg-body: #000;


// mobil 

// screen
$max-res: 1280px;
$pc-max-width:  1200px;

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    vertical-align: baseline;
    background: transparent
}

html {
    box-sizing: border-box;
    overflow-y: scroll;
    width: 100%!important;
    height: 100%;
    font-size: 16px
}

body {
    font-family: 'Noto Sans', sans-serif;
    min-height: 100%;
    @include w-f;
    height: auto!important;
    background-color: $bg-body;
    position: relative;
    margin: 0 auto
}

object,
embed,
iframe {
    max-width: 100%!important
}

img {
    max-width: 100%
}
p{font-size: 14px}
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    font-size: inherit
}

th {
    font-weight: 700;
    vertical-align: central
}

td {
    font-weight: 400;
    vertical-align: top
}

select,
input,
textarea {
    font-size: inherit
}

strong {
    font-weight: 700
}

td img {
    vertical-align: top
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}
.pos-rel{
    position:relative;
}
.pos-abs{
    position: absolute;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
p{
    color: #20404b;
}  
.butt-g{
    @include b-radius(8px);
    background-color:#00cf97;
    display: inline-block;
    color: #fff;
    width: 184px;
    text-align: center;
    border: 1px solid #00b082;
    line-height: 40px;
}
.butt-g:hover{
    cursor: pointer;
}
#main .white-box{
    .row div.t-center{
        text-align: center;
        margin-bottom: 42px;
    }
    @include w-f;  
    background-color:#fff;
    .col-3
        {
        p.article-title{
            font-size: 19px;
            color: #023d4f;
            font-weight:700;
            margin: 20px 0 15px 0;
        }
        a p:hover{
            color: #00cf97;
        }
        a:hover{
           text-decoration: none; 
        }
        .d-img{
            img
            {
            @include b-radius(10px);
            }
            .tag{
                bottom: 23px;
                left: 20px;
         }
        }
    }
}
.row{
    clear: both;
    display: block;
    float: none !important;

}
#container {
    #main{
        .banner{
             @include w-f; 
             background-color:#71ccda;
             width: 100%;
             padding:22px 22px 22px;
             .col-2:first-child
             {
             padding-right:5px; 
                a img{
                    @include b-radius(15px);
                }
            }
            .col-2:last-child{
                padding-left:5px;
            }
             .col-2{
              .b-cont{
                 @include b-radius(15px);
                 padding: 10px;
                 background-color:#fff;
                 h4{
                    color: #003d52;
                    font-weight: 700;
                    font-size: 18px
                 }
              }
            }
        }
    }
    header{
    @include w-f;
    background-color:#FFF;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    #logoBox{
        float: left;
        a{
             @include w-f; 
            text-decoration: none;
        img{
            float: left;
            padding:25px 20px 25px 25px;
        }
        .l-p{
            color: #6b6b6b;
            display: block;
        }
        .mp{
            color: #0194c8;
            font-size: 50px;
            padding-right: 10px;
        }
        .mp2{
            color: #00cf98;
            font-size: 50px;
        }
        .mp,.mp2{
            padding-top:12px;
            display: block;
            float: left;
        }
        }
        a:hover{
            cursor: pointer;
        }
    }
    form.main-s{
        float: right; 
        background-color:#eefcff;
        border:1px solid #c6dde5; 
        margin: 39px 24px 0 24px;
        @include b-radius(5px);  
        input[type=text]{
        border:none;
           background: none;
              
        }
        input[type=text]::placeholder{
             color: #638e9e;
        }
    }
    #menuHolder{
        @include w-f;  
        background-color:#00a5b8;
        border-bottom:1px solid #74ced9;
        ul{
             @include w-f; 
             padding:0;
             margin: 0;
            display: table;
            li{
                display: table-cell;
                text-transform: uppercase;
                a{
                    color: #FFF;
                    font-weight: 700;
                    text-align: center;
                    line-height: 48px;
                    border-right: 1px solid #74ced9;
                    display: block;  
                    }
                }
            li:hover{
               opacity: 0.5;
               filter: alpha(opacity=50); /* For IE8 and earlier */
            }
        }
    }
    }
}
.tag{
                    background-color:#0193c4;
                   text-transform: uppercase;
                    padding: 0 10px;
                    font-size: 12px;
                    line-height: 20px;
                    color: #FFF;
                    @include b-radius(5px);  
                }
.tag-serial{
                    background-color:#d3f0f8;
                   text-transform: uppercase;
                    padding: 0 10px;
                    font-size: 12px;
                    line-height: 20px;
                    color: #0294c5;
                    @include b-radius(5px);  
                }
@media (min-width: $max-res)
{
    #container{
        width: $pc-max-width;
        margin: 0 auto;
         #main{
            .white-box{
                padding:0 26px;
                .col-3
                {
                    margin-bottom:40px;
                    padding: 20px 8px 10px 8px;
                }
                .col-3:first-child{
                    padding:20px 17px 10px 0px;
                }
                .col-3:last-child{
                    padding:20px 0px 10px 17px;
                }
                .hp-serial{
                    .other-articles a{
                        margin: 20px 0;
                        display: inline-block;
                        font-weight:700;
                        color: #00d19a;
                    }
                    big{
                        padding:15px 0 5px 0;
                        font-weight: 700;
                        display: inline-block;
                    }
                    .col-2{
                        .p-img 
                        {width: 25%;
                            float: left;
                            img{
                                @include b-radius(5px); 
                            }
                        }
                        h5,p.a-t{
                            float: left;
                            padding-left:15px;
                            width: 75%;
                            }
                        h5{
                            font-size: 17px;
                            }
                        }
                        .tag{
                            margin: 20px 0; 
                            display: inline-block;
                        }
                }
            }
        .banner{
             height: 400px;
             .col-2{
                max-height: 356px;
                overflow: hidden;
                .b-cont{
                    margin-bottom: 11px;
                    height: 111px;
                    .tag{
                        top: 58px;
                    }
                    a.ban-img{
                        max-height: 130px;
                        float: left;
                        width: 90px;
                        overflow: hidden;
                        img{
                             width: 90px;
                             @include b-radius(7px);
                        }
                    }
                    div{
                        padding-left:17px;
                        float: left;
                        width: calc(100% - 107px);
                    } 
                }
                }
            .col-2:first-child{
                  @include b-radius(15px); 
                .b-title{
                    bottom:80px;
                    font-weight: 700;
                    left: 20px;
                    font-size: 20px;
                }
                .tag-serial{
                     left: 20px;
                     bottom:20px;
                }
                a{
                    text-decoration: none;
                    color: #FFF;
                }
             }
            }
        }
    }
    .col-2{
        float: left;
        width: 50%
    }
    .col-3{
        float: left;
        width: 33.333%;
    }
}